## Bibliotecas

In [49]:
import pandas as pd
import pandas_profiling
!pip install pandas-profiling==3.1.0

Requirement already satisfied: pandas-profiling==3.1.0 in c:\users\patricia.sousa\anaconda4\lib\site-packages (3.1.0)
Requirement already satisfied: visions[type_image_path]==0.7.4 in c:\users\patricia.sousa\anaconda4\lib\site-packages (from pandas-profiling==3.1.0) (0.7.4)
Requirement already satisfied: numpy>=1.16.0 in c:\users\patricia.sousa\anaconda4\lib\site-packages (from pandas-profiling==3.1.0) (1.21.5)
Requirement already satisfied: seaborn>=0.10.1 in c:\users\patricia.sousa\anaconda4\lib\site-packages (from pandas-profiling==3.1.0) (0.12.1)
Requirement already satisfied: missingno>=0.4.2 in c:\users\patricia.sousa\anaconda4\lib\site-packages (from pandas-profiling==3.1.0) (0.5.1)
Requirement already satisfied: scipy>=1.4.1 in c:\users\patricia.sousa\anaconda4\lib\site-packages (from pandas-profiling==3.1.0) (1.7.3)
Requirement already satisfied: htmlmin>=0.1.12 in c:\users\patricia.sousa\anaconda4\lib\site-packages (from pandas-profiling==3.1.0) (0.1.12)
Requirement already satisfied: tangled-up-in-unicode==0.1.0 in c:\users\patricia.sousa\anaconda4\lib\site-packages (from pandas-profiling==3.1.0) (0.1.0)
Requirement already satisfied: jinja2>=2.11.1 in c:\users\patricia.sousa\anaconda4\lib\site-packages (from pandas-profiling==3.1.0) (2.11.3)
Requirement already satisfied: PyYAML>=5.0.0 in c:\users\patricia.sousa\anaconda4\lib\site-packages (from pandas-profiling==3.1.0) (6.0)
Requirement already satisfied: multimethod>=1.4 in c:\users\patricia.sousa\anaconda4\lib\site-packages (from pandas-profiling==3.1.0) (1.9)
Requirement already satisfied: requests>=2.24.0 in c:\users\patricia.sousa\anaconda4\lib\site-packages (from pandas-profiling==3.1.0) (2.27.1)
Requirement already satisfied: pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3 in c:\users\patricia.sousa\anaconda4\lib\site-packages (from pandas-profiling==3.1.0) (1.4.2)
Requirement already satisfied: pydantic>=1.8.1 in c:\users\patricia.sousa\anaconda4\lib\site-packages (from pandas-profiling==3.1.0) (1.10.2)
Requirement already satisfied: tqdm>=4.48.2 in c:\users\patricia.sousa\anaconda4\lib\site-packages (from pandas-profiling==3.1.0) (4.64.0)
Requirement already satisfied: phik>=0.11.1 in c:\users\patricia.sousa\anaconda4\lib\site-packages (from pandas-profiling==3.1.0) (0.12.2)
Requirement already satisfied: joblib~=1.0.1 in c:\users\patricia.sousa\anaconda4\lib\site-packages (from pandas-profiling==3.1.0) (1.0.1)
Requirement already satisfied: markupsafe~=2.0.1 in c:\users\patricia.sousa\anaconda4\lib\site-packages (from pandas-profiling==3.1.0) (2.0.1)
Requirement already satisfied: matplotlib>=3.2.0 in c:\users\patricia.sousa\anaconda4\lib\site-packages (from pandas-profiling==3.1.0) (3.5.1)
Requirement already satisfied: attrs>=19.3.0 in c:\users\patricia.sousa\anaconda4\lib\site-packages (from visions[type_image_path]==0.7.4->pandas-profiling==3.1.0) (21.4.0)
Requirement already satisfied: networkx>=2.4 in c:\users\patricia.sousa\anaconda4\lib\site-packages (from visions[type_image_path]==0.7.4->pandas-profiling==3.1.0) (2.7.1)
Requirement already satisfied: Pillow in c:\users\patricia.sousa\anaconda4\lib\site-packages (from visions[type_image_path]==0.7.4->pandas-profiling==3.1.0) (9.0.1)
Requirement already satisfied: imagehash in c:\users\patricia.sousa\anaconda4\lib\site-packages (from visions[type_image_path]==0.7.4->pandas-profiling==3.1.0) (4.3.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\patricia.sousa\anaconda4\lib\site-packages (from matplotlib>=3.2.0->pandas-profiling==3.1.0) (1.3.2)
Requirement already satisfied: packaging>=20.0 in c:\users\patricia.sousa\anaconda4\lib\site-packages (from matplotlib>=3.2.0->pandas-profiling==3.1.0) (21.3)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\patricia.sousa\anaconda4\lib\site-packages (from matplotlib>=3.2.0->pandas-profiling==3.1.0) (3.0.4)
Requirement already satisfied: cycler>=0.10 in c:\users\patricia.sousa\anaconda4\lib\site-packages (from matplotlib>=3.2.0->pandas-profiling==3.1.0) (0.11.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\patricia.sousa\anaconda4\lib\site-packages (from matplotlib>=3.2.0->pandas-profiling==3.1.0) (2.8.2)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\patricia.sousa\anaconda4\lib\site-packages (from matplotlib>=3.2.0->pandas-profiling==3.1.0) (4.25.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\patricia.sousa\anaconda4\lib\site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3->pandas-profiling==3.1.0) (2021.3)
Requirement already satisfied: typing-extensions>=4.1.0 in c:\users\patricia.sousa\anaconda4\lib\site-packages (from pydantic>=1.8.1->pandas-profiling==3.1.0) (4.1.1)
Requirement already satisfied: six>=1.5 in c:\users\patricia.sousa\anaconda4\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.2.0->pandas-profiling==3.1.0) (1.16.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\patricia.sousa\anaconda4\lib\site-packages (from requests>=2.24.0->pandas-profiling==3.1.0) (1.26.9)
Requirement already satisfied: idna<4,>=2.5 in c:\users\patricia.sousa\anaconda4\lib\site-packages (from requests>=2.24.0->pandas-profiling==3.1.0) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\patricia.sousa\anaconda4\lib\site-packages (from requests>=2.24.0->pandas-profiling==3.1.0) (2022.6.15)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\patricia.sousa\anaconda4\lib\site-packages (from requests>=2.24.0->pandas-profiling==3.1.0) (2.0.4)
Requirement already satisfied: colorama in c:\users\patricia.sousa\anaconda4\lib\site-packages (from tqdm>=4.48.2->pandas-profiling==3.1.0) (0.4.4)
Requirement already satisfied: PyWavelets in c:\users\patricia.sousa\anaconda4\lib\site-packages (from imagehash->visions[type_image_path]==0.7.4->pandas-profiling==3.1.0) (1.3.0)

### An√°lise com Pandas

In [50]:
df =pd.read_csv('fraud_dataset_example.csv') #carregamento do dataset
df

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.00,160296.36,M1979787155,0.00,0.00,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.00,19384.72,M2044282225,0.00,0.00,0,0
2,1,TRANSFER,181.00,C1305486145,181.00,0.00,C553264065,0.00,0.00,1,0
3,1,CASH_OUT,181.00,C840083671,181.00,0.00,C38997010,21182.00,0.00,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.00,29885.86,M1230701703,0.00,0.00,0,0
...,...,...,...,...,...,...,...,...,...,...,...
101608,10,PAYMENT,7477.02,C513257306,785.00,0.00,M524833426,0.00,0.00,0,0
101609,10,CASH_OUT,282252.35,C210473293,220339.29,0.00,C1172042998,95156.01,91286.97,0,0
101610,10,PAYMENT,17289.01,C807582280,0.00,0.00,M334249577,0.00,0.00,0,0
101611,10,TRANSFER,1347146.45,C1315779140,1605.00,0.00,C1631408038,541639.43,2186953.43,0,0
101612,10,CASH_OUT,469539.21,C515691325,31133.00,0.00,C1383702768,0.00,469539.21,0,0

In [51]:
df=df[['isFraud',                                  #Manipulei a coluna de fraudes para frente (melhor visualiza√ß√£o)
       'isFlaggedFraud','step', 'type', 'amount', 'nameOrig', 'oldbalanceOrg', 'newbalanceOrig',
       'nameDest', 'oldbalanceDest', 'newbalanceDest']]

In [52]:
df

,isFraud,isFlaggedFraud,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest
0,0,0,1,PAYMENT,9839.64,C1231006815,170136.00,160296.36,M1979787155,0.00,0.00
1,0,0,1,PAYMENT,1864.28,C1666544295,21249.00,19384.72,M2044282225,0.00,0.00
2,1,0,1,TRANSFER,181.00,C1305486145,181.00,0.00,C553264065,0.00,0.00
3,1,0,1,CASH_OUT,181.00,C840083671,181.00,0.00,C38997010,21182.00,0.00
4,0,0,1,PAYMENT,11668.14,C2048537720,41554.00,29885.86,M1230701703,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...
101608,0,0,10,PAYMENT,7477.02,C513257306,785.00,0.00,M524833426,0.00,0.00
101609,0,0,10,CASH_OUT,282252.35,C210473293,220339.29,0.00,C1172042998,95156.01,91286.97
101610,0,0,10,PAYMENT,17289.01,C807582280,0.00,0.00,M334249577,0.00,0.00
101611,0,0,10,TRANSFER,1347146.45,C1315779140,1605.00,0.00,C1631408038,541639.43,2186953.43
101612,0,0,10,CASH_OUT,469539.21,C515691325,31133.00,0.00,C1383702768,0.00,469539.21

In [53]:
colunas = {                     #renomeando as colunas para portugues
    'isFraud': 'fraude',
    'isFlaggedFraud':'super_fraude',
    'step':'tempo',
    'type':'tipo',
    'amount':'valor',
    'nameOrig':'cliente1',
    'oldbalanceOrg':'saldo_inicial_c1',
    'newbalanceOrig':'novo_saldo_c1',
    'nameDest':'cliente2',
    'oldbalanceDest':'saldo_inicial_c2',
    'newbalanceDest':'novo_saldo_c2',
}

In [54]:
df= df.rename(columns=colunas)
df

,fraude,super_fraude,tempo,tipo,valor,cliente1,saldo_inicial_c1,novo_saldo_c1,cliente2,saldo_inicial_c2,novo_saldo_c2
0,0,0,1,PAYMENT,9839.64,C1231006815,170136.00,160296.36,M1979787155,0.00,0.00
1,0,0,1,PAYMENT,1864.28,C1666544295,21249.00,19384.72,M2044282225,0.00,0.00
2,1,0,1,TRANSFER,181.00,C1305486145,181.00,0.00,C553264065,0.00,0.00
3,1,0,1,CASH_OUT,181.00,C840083671,181.00,0.00,C38997010,21182.00,0.00
4,0,0,1,PAYMENT,11668.14,C2048537720,41554.00,29885.86,M1230701703,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...
101608,0,0,10,PAYMENT,7477.02,C513257306,785.00,0.00,M524833426,0.00,0.00
101609,0,0,10,CASH_OUT,282252.35,C210473293,220339.29,0.00,C1172042998,95156.01,91286.97
101610,0,0,10,PAYMENT,17289.01,C807582280,0.00,0.00,M334249577,0.00,0.00
101611,0,0,10,TRANSFER,1347146.45,C1315779140,1605.00,0.00,C1631408038,541639.43,2186953.43
101612,0,0,10,CASH_OUT,469539.21,C515691325,31133.00,0.00,C1383702768,0.00,469539.21

## Outras Informa√ß√µes

In [55]:
#Sem dados null e sem disparidade

df.describe()

,fraude,super_fraude,tempo,valor,saldo_inicial_c1,novo_saldo_c1,saldo_inicial_c2,novo_saldo_c2
count,101613.000000,101613.0,101613.000000,1.016130e+05,1.016130e+05,1.016130e+05,1.016130e+05,1.016130e+05
mean,0.001142,0.0,8.523457,1.740901e+05,9.071753e+05,9.234992e+05,8.810428e+05,1.183998e+06
std,0.033768,0.0,1.820681,3.450199e+05,2.829575e+06,2.867319e+06,2.399949e+06,2.797761e+06
min,0.000000,0.0,1.000000,3.200000e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,0.000000,0.0,8.000000,1.001659e+04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,0.000000,0.0,9.000000,5.338541e+04,2.019047e+04,0.000000e+00,2.105800e+04,5.178343e+04
75%,0.000000,0.0,10.000000,2.124984e+05,1.947150e+05,2.192178e+05,5.919217e+05,1.063122e+06
max,1.000000,0.0,10.000000,1.000000e+07,3.893942e+07,3.894623e+07,3.400874e+07,3.894623e+07

In [56]:
df.groupby('fraude').tempo.count() #Numero de fraudes totalizando (101497)

fraude
0    101497
1       116
Name: tempo, dtype: int64

## Aplicando Enconding no dataset

In [57]:
df = pd.get_dummies(data=df, columns=['tipo']) #usei o One-Hot-Encoding
df.head()

,fraude,super_fraude,tempo,valor,cliente1,saldo_inicial_c1,novo_saldo_c1,cliente2,saldo_inicial_c2,novo_saldo_c2,tipo_CASH_IN,tipo_CASH_OUT,tipo_DEBIT,tipo_PAYMENT,tipo_TRANSFER
0,0,0,1,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0,0,0,1,0
1,0,0,1,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0,0,0,1,0
2,1,0,1,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,0,0,0,0,1
3,1,0,1,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,0,1,0,0,0
4,0,0,1,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0,0,0,1,0

In [58]:
df= df.drop(['cliente1','cliente2','super_fraude'],axis = 1) #exclui algumas variaveis que eu n√£o preciso usar

In [59]:
df

,fraude,tempo,valor,saldo_inicial_c1,novo_saldo_c1,saldo_inicial_c2,novo_saldo_c2,tipo_CASH_IN,tipo_CASH_OUT,tipo_DEBIT,tipo_PAYMENT,tipo_TRANSFER
0,0,1,9839.64,170136.00,160296.36,0.00,0.00,0,0,0,1,0
1,0,1,1864.28,21249.00,19384.72,0.00,0.00,0,0,0,1,0
2,1,1,181.00,181.00,0.00,0.00,0.00,0,0,0,0,1
3,1,1,181.00,181.00,0.00,21182.00,0.00,0,1,0,0,0
4,0,1,11668.14,41554.00,29885.86,0.00,0.00,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
101608,0,10,7477.02,785.00,0.00,0.00,0.00,0,0,0,1,0
101609,0,10,282252.35,220339.29,0.00,95156.01,91286.97,0,1,0,0,0
101610,0,10,17289.01,0.00,0.00,0.00,0.00,0,0,0,1,0
101611,0,10,1347146.45,1605.00,0.00,541639.43,2186953.43,0,0,0,0,1
101612,0,10,469539.21,31133.00,0.00,0.00,469539.21,0,1,0,0,0

## Regress√£o logistica

nesse momento eu quero entender quanto meu modelo pode acertar se existe fraude ou n√£o no pipeline

In [60]:
x = df.drop('fraude', axis=1)    #fa√ßo um drop da coluna fraude para considerar apenas ela como teste e treino
y = df['fraude']

In [61]:
from sklearn.model_selection import train_test_split ## defino o SEED e incluir os dados para rodar e separar no sklearn os dados teste 25% e treini 75%

SEED = 42

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state = SEED)

In [62]:
from sklearn.linear_model import LogisticRegression  #aqui apesar da acuracia esta aumenta minhas outras metricas es√£o muito 
from sklearn import metrics

lr = LogisticRegression(max_iter=1000, random_state=SEED)
lr.fit(x_train,y_train)
y_pred =lr.predict(x_test)


print("Acur√°cia:",metrics.accuracy_score(y_test, y_pred))
print("Precis√£o:",metrics.precision_score(y_test, y_pred))
print("Recall:",metrics.recall_score(y_test, y_pred)) 
print("F1:",metrics.f1_score(y_test, y_pred))

Acur√°cia: 0.9989765391276965
Precis√£o: 0.2
Recall: 0.043478260869565216
F1: 0.07142857142857142

In [63]:
import matplotlib.pyplot as plt                      #constru√ß√£o da matriz de confusao para entender porque apesar da acuaracia estar alta a precisao esta baixa
from sklearn.metrics import Confusion_matrix
from sklearn.datasets import make_classification
from sklearn.metrics import ConfusionMatrixDisplay
%matplotlib inline


cm = confusion_matrix(y_test, y_pred)
disp = ConfusionMatrixDisplay(confusion_matrix=cm)
disp.plot()

ImportError: cannot import name 'Confusion_matrix' from 'sklearn.metrics' (C:\Users\patricia.sousa\Anaconda4\lib\site-packages\sklearn\metrics\__init__.py)

In [ ]:
y_pred_proba = lr.predict_proba(x_test)[::, 1]    #constru√ß√£o da curva roc para validar meu teste
fpr, tpr, _= metrics.roc_curve(y_test, y_pred_proba)
auc = metrics.roc_auc_score(y_test, y_pred_proba)

plt.rcParams['figure.figsize'] = (12., 8.)
plt.plot(fpr,tpr,label="LR, auc="+str(auc))
plt.plot([0, 1], [0, 1], color='red', lw=2, linestyle='--')

## Balanceando de dados

#### Detectei usando a curva de Roc um desbaleaceamento dos dados classificados, acuracia est√° alta, por√©m as demais metr√≠cas est√£o em desequilibrio no modelo, para fazer esse balanceamento 
#### vou usar o metodo Oversampling que esse caso vai ser √∫til e n√£o ter√° problemas, pois aqui eu estou trabalhando com modelos de dados sinteticos, numa base real de dados eu teria que usar uma outra metodologia para balancear

In [ ]:
!pip install -U pandas-profiling

In [66]:
from imblearn.over_sampling import SMOTE  #o SMOTE sintetiza novos exemplos para a classe minorit√°ria
import numpy as np

SEED=42

smote = SMOTE(random_state=42)

ModuleNotFoundError: No module named 'imblearn'

In [67]:
x = df.drop('fraude', axis=1)   #vou separar novamente os dados para que o SMOTE consiga classificar os dados de uma maneira correta
y = df['fraude']

In [65]:
x_resampled, y_resampled = smote.fit_resample(x,y) #vou rodar o primeiro modelo

NameError: name 'smote' is not defined

In [64]:
df_balanced = pd.concat([y_resampled, x_resampled], axis=1) #abri um dataframe para incluir os dados do meu modelo 
df_balanced

NameError: name 'y_resampled' is not defined

In [ ]:
df_balanced.groupby('fraude').tempo.count() #Rodei o modelo e agora eu quero validar se os dados sem distribuidos de uma maneira igualitaria

fraude
0    101497
1    101497
Name: tempo, dtype: int64

In [68]:
x = df_balanced.iloc[:, 1:].values
y = df_balanced.iloc[:, 0].values

NameError: name 'df_balanced' is not defined

In [69]:
from sklearn.model_selection import train_test_split #vou incluir o SMOTE no meu modelo para entender como ser√° os resultados

SEED = 42

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state = SEED)

from sklearn.linear_model import LogisticRegression
from sklearn import metrics

lr = LogisticRegression(max_iter=1000, random_state=SEED)

lr.fit(x_train, y_train)
y_pred =lr.predict(x_test)

print("Acur√°cia:",metrics.accuracy_score(y_test, y_pred))
print("Precis√£o:",metrics.precision_score(y_test, y_pred))
print("Recall:",metrics.recall_score(y_test, y_pred)) 
print("F1:",metrics.f1_score(y_test, y_pred))

Acur√°cia: 0.9989765391276965
Precis√£o: 0.2
Recall: 0.043478260869565216
F1: 0.07142857142857142

### Formulando Hipoteses

1- tipo_PAYMENT √© o que a pessoa utiliza como padr√£o e a fraude ocorre por meio do tipo_TRANSFER
2- O cliente pode fazer seus pagamentos durante um per√≠odo do dia, como por exemplo durante a manh√£, e a fraude ocorre durante um per√≠odo diferente, como a madrugada.
3- O cliente paga as duas contas no comoe√ßo do m√™s e houve uma movimenta√ß√£o no final do m√™s, sendo uma fraude.

In [ ]:
from sklearn.tree import DecisionTreeClassifier # monte um modelo de arvore de decisao o que pode traz mais uma escolha para determinar se meu modelo incial esta valido

dt =  DecisionTreeClassifier(max_depth = 5, random_state=SEED)

model = dt.fit(x_train, y_train)
y_pred = dt.predict(x_test)

print("Acur√°cia:",metrics.accuracy_score(y_test, y_pred))
print("Precis√£o:",metrics.precision_score(y_test, y_pred))
print("Recall:",metrics.recall_score(y_test, y_pred)) 
print("F1:",metrics.f1_score(y_test, y_pred))

In [ ]:
cm = confusion_matrix(y_test, y_pred)
disp = ConfusionMatrixDisplay(confusion_matrix=cm)
disp.plot()

In [ ]:
y_pred_proba = dt.predict_proba(x_test)[::,1]  #fiz a cursa roc para validar o modelo e as metricais, 
fpr, tpr, _ = metrics.roc_curve(y_test,  y_pred_proba)
auc = metrics.roc_auc_score(y_test, y_pred_proba)

plt.rcParams['figure.figsize'] = (12., 8.)
plt.plot(fpr,tpr,label="data 1, auc="+str(auc))
plt.plot([0, 1], [0, 1], color='red', lw=2, linestyle='--')
plt.legend(loc=4)

### Arvore de decis√£o
##### trazendo mais dois modelos de machine learning, modelos comparativos

In [1]:
from sklearn.tree import DecisionTreeClassifier

In [2]:
dt =  DecisionTreeClassifier(max_depth = 5, random_state=SEED) ## defino a max_depht com 5 para evitar que o modelo tenha Overfiting

NameError: name 'SEED' is not defined

In [ ]:
model = dt.fit(x_train, y_train)   #seleciono os dados teste e comparativos
y_pred = dt.predict(x_test)

In [ ]:
model = dt.fit(x_train, y_train) #treino e obtenho acuracia 
y_pred = dt.predict(x_test)

print("Acur√°cia:",metrics.accuracy_score(y_test, y_pred))
print("Precis√£o:",metrics.precision_score(y_test, y_pred))
print("Recall:",metrics.recall_score(y_test, y_pred)) 
print("F1:",metrics.f1_score(y_test, y_pred))

In [ ]:
cm = confusion_matrix(y_test, y_pred)  #matriz de confusao para entender o que esta dando certo ou nao no modelo 
disp = ConfusionMatrixDisplay(confusion_matrix=cm)
disp.plot()

In [ ]:
y_pred_proba = dt.predict_proba(x_test)[::,1] #curva roc novamente 
fpr, tpr, _ = metrics.roc_curve(y_test,  y_pred_proba)
auc = metrics.roc_auc_score(y_test, y_pred_proba)

plt.rcParams['figure.figsize'] = (12., 8.)
plt.plot(fpr,tpr,label="data 1, auc="+str(auc))
plt.plot([0, 1], [0, 1], color='red', lw=2, linestyle='--')
plt.legend(loc=4)

### Random Forest

In [ ]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:
rf = RandomForestClassifier(max_depth= 5, random_state = SEED)

In [ ]:
model = rf.fit(x_train, y_train)
y_pred = rf.predict(x_test)

In [ ]:
model = rf.fit(x_train, y_train)
y_pred = rf.predict(x_test)

print("Acur√°cia:",metrics.accuracy_score(y_test, y_pred))
print("Precis√£o:",metrics.precision_score(y_test, y_pred))
print("Recall:",metrics.recall_score(y_test, y_pred))
print("F1:",metrics.f1_score(y_test, y_pred))

cm = confusion_matrix(y_test, y_pred)
disp = ConfusionMatrixDisplay(confusion_matrix=cm)
disp.plot()

 ### An√°lise de m√©tricas

In [ ]:
# trazendo todos os modelos em uma visualiza√ß√£o
classifiers = [
    LogisticRegression(max_iter=1000, random_state=SEED),
    DecisionTreeClassifier(max_depth = 5, random_state=SEED),
    RandomForestClassifier(max_depth= 5, random_state = SEED)]

In [ ]:
for clf in classifiers:
  clf.fit(x_train, y_train)
  name = clf.__class__.__name__
  print("="*30)
  print(name)
  print('****Resultados****')
  y_pred = clf.predict(x_test)
  print("Accuracy:", metrics.accuracy_score(y_test, y_pred))
  print("Precision:", metrics.precision_score(y_test, y_pred))
  print("Recall:", metrics.recall_score(y_test, y_pred))
  print("F1:", metrics.f1_score(y_test, y_pred))

In [ ]:
LogisticRegression
****Resultados****
Accuracy: 0.9417722516699837
Precision: 0.9241993556945234
Recall: 0.9623125493291239
F1: 0.9428709521507975
==============================
DecisionTreeClassifier
****Resultados****
Accuracy: 0.9622849711324362
Precision: 0.9381639982043992
Recall: 0.9897000789265983
F1: 0.9632432017206943

In [ ]:
RandomForestClassifier
****Resultados****
Accuracy: 0.9723738398786183
Precision: 0.9705165500432424
Recall: 0.9742699289660616
F1: 0.9723896175509079

## Respondendo as hipoteses (Fraudes)

-  Fazer um CAPTCHA para aumentar a seguran√ßa em hor√°rios n√£o convencionais.COPIAR C√ìDIGO
-  O(a) cliente utiliza como padr√£o o pagamento em dinheiro, seja por PIX ou retirada*, e a fraude pode ocorrer por um pagamento por transfer√™ncia.
- Solicitar uma verifica√ß√£o de informa√ß√£o adicional do banco, como uma pergunta de seguran√ßa, para movimenta√ß√µ